<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>安全盘</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jsencrypt.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/crypto-js.js')}}"></script>
    <style type="text/css">
		.demo {
		  position: relative;
		  opacity: 0;
		  transition: .2s ease;
		  margin-bottom: 60px;
		}

		.grid {
		  position: relative;
		  /* fluffy */
		  margin: 0 auto;
		  width: 98%;
		  /* end fluffy */
		}

		.grid-item {
		  position: absolute;
		  top: 0;
		  left: 0;
		   /* fluffy */
		   width: 180px;
		   height: 120px;
		   border-radius: 3px;
		   background-color: transparent;
		   /* end fluffy */
		   -webkit-transition: .3s ease-in-out;
		   -o-transition: .3s ease-in-out;
		   transition: .3s ease-in-out;
		}
		/* mq */
		@media (max-width: 600px) {
		  .grid-item {
		    width: 120px;
		    height: 80px;
		  }
		}
  </style>
  <style type="text/css">
		label{
			display:inline-block;
			width:160px;
			height:40px;
			line-height:40px;
			text-align: center;
			background:rgb(75, 104, 233);
			font-size:18px;
			color:#fff;
			cursor:pointer;
		}
		/*隐藏默认样式*/
		input[id=file]{
			margin-left:-2000px;
			height:0;
		}
	</style>
</head>
<body>
    <!--导航栏-->
    <nav class="navbar navbar-default" role="navigation"> 
      <div class="container-fluid"> 
          <div class="navbar-header"> 
              <a class="navbar-brand" href="#">安全盘</a> 
          </div> 
          <ul class="nav navbar-nav navbar-right"> 
              <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ name }}</a></li> 
              <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span>登出</a></li> 
          </ul> 
      </div> 
    </nav>
    <!--上传文件-->
    
    <!--
    <div>
      <form method="post" action="/api/upload" enctype="multipart/form-data">
            <input type="file" name="myfile"/></input>
            <input type="submit" value="提交"></input>
      </form>
    </div>
  -->
    
    
    <div>
      <!--form id = "upload" method="post" action="/api/upload" enctype="multipart/form-data"-->
        <label for="file" id="myfile">上传文件</label>
        <input type="file" style="display:inline-block;float: right;" id="file" name="myfile"></input>
        <button tyle="float:left" type="submit" id= "fileUpload">提交</button>
    </div>
    <div>
      <p id="fileName"></p>
    </div>
    <div>
      公钥文件：<br>
      <input type="file" id="pubFile" style="display: none" onchange="PubImport();">
      <input type="button" id="pubImport" value="导入公钥"><br>
      私钥文件：<br>
      <input type="file" id="priFile" style="display: none" onchange="PriImport();">
      <input type="button" id="priImport" value="导入私钥">
    </div>
    <script>
      $("#file").on("change",function(){
        //截取路径，获取上传文件名
        var urlArr = this.value.split("\\");
        if (this && this.files && this.files[0]) {
          document.getElementById("fileName").innerHTML = urlArr[urlArr.length-1];
        }
      });
    </script>

    <!--显示该用户的文件-->
    <div class="demo">
        <div class="grid">
        {% for each in file %}
          <div class="grid-item">
            <a id = "download" href="/api/download/{{ each['name'] }}"}>
              {% if each['postfix'] == 'word' %}
              <img src="{{ url_for('static', filename='word.svg') }}", style="width:90%;height:90%;">
              {% elif each['postfix'] == 'excel' %}
              <img src="{{ url_for('static', filename='excel.svg') }}", style="width:90%;height:90%;">
              {% elif each['postfix'] == 'ppt' %}
              <img src="{{ url_for('static', filename='ppt.svg') }}", style="width:90%;height:90%;">
              {% elif each['postfix'] == 'pdf' %}
              <img src="{{ url_for('static', filename='pdf.svg') }}", style="width:90%;height:90%;">
              {% elif each['postfix'] == 'txt' %}
              <img src="{{ url_for('static', filename='text.svg') }}", style="width:90%;height:90%;">
              {% elif each['postfix'] == 'png' or 
                      each['postfix'] == 'jpg' or
                      each['postfix'] == 'svg'
              %}
              <img src="{{ url_for('static', filename='img.svg') }}", style="width:90%;height:90%;">
              {% else %}
              <img src="{{ url_for('static', filename='default.svg') }}", style="width:90%;height:90%;">
              {% endif %}
            </a>
            <p style="text-align:center">{{ each['name'] }}</p>
          </div>
        {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/minigrid.js')}}"></script>
    <script>
        (function(){
          minigrid('.grid', '.grid-item', 6, null, 
            function(){
              var d = document.querySelector('.demo');
              d.style.opacity = 1;
            }
          );
          window.addEventListener('resize', function(){
            minigrid('.grid', '.grid-item');
          });
        })();
    </script>
    <!--文件加密部分-->>
    <script type="text/javascript" defer=true>
      var encrpt_seed;
      var rsa_pub;
      var rsa_pri;
      //读取本地公钥文件发送给第三方可信机构
      $("#pubImport").click(function () {
            $("#pubFile").click();
      })
      function PubImport() {
        //获取读取我文件的File对象
        var selectedFile = document.getElementById('pubFile').files[0];
        var reader = new FileReader();
        reader.readAsText(selectedFile);
        reader.onload = function () {
          //当读取完成后回调这个函数,然后此时文件的内容存储到了result中,直接操作即可
          const trust_url = 'http://localhost:7000/sendkey'      //此处为第三方信任机构的url
          // 读取本地公钥内容
          const pub_key = {
            data: JSON.stringify({"pubkey": this.result})
          }
          // 前端测试加密
          //var text = "yzxfjhxqzjh";
          //var crypt = new JSEncrypt();
          //crypt.setPublicKey(this.result);
          //var enc = crypt.encrypt(text);
          //console.log("前端测试加密");
          //console.log(enc);
          //encrpt_seed = enc;
          //×××××××××××××××××××××××
          rsa_pub = this.result;
          $.ajax({
            url: trust_url,
            type: "POST",
            data: pub_key,
            success:function(result) {
              // 成功获得加密后的随机数种子
              encrpt_seed = result['seed'];
              alert("成功获取ASE密钥种子");
              console.log(encrpt_seed);
            },
            error:function(error) {
              console.log(error)
            }
          })
        }
      }
      // 读取本地私钥文件
      $("#priImport").click(function () {
            $("#priFile").click();
      })
      function PriImport() {
        //获取读取我文件的File对象
        var selectedFile = document.getElementById('priFile').files[0];
        var reader = new FileReader();
        reader.readAsText(selectedFile);
        reader.onload = function () {
          rsa_pri = this.result;
          alert("成功导入私钥文件");
          console.log(rsa_pri);
        }
      }

      //在上传文件时基于seed生成ase密钥进行加密
      $("#fileUpload").click(function () {
        console.log("提交文件处理函数");
        console.log("加密种子");
        console.log(encrpt_seed);
        console.log("rsa私钥");
        console.log(rsa_pri);
        //首先使用私钥信息解密种子
        var crypt = new JSEncrypt();
        crypt.setKey(rsa_pri);
        var seed = crypt.decrypt(encrpt_seed);
        console.log(seed);
        // 获得随机数种子之后使用ase加密
        var selectedFile = document.getElementById('file').files[0];
        console.log("获得文件");
        var reader = new FileReader();
        reader.readAsText(selectedFile);
        reader.onload = function () {
          console.log("成功读取文件内容");
          var fileName = selectedFile.name;
          let key = '1234567887654321';
          var encrypted = CryptoJS.AES.encrypt(reader.result,key).ciphertext.toString();
          var encryptFile = new Blob([encrypted], {type: 'text/html'});
          var formData = new FormData();
          formData.append("myfile", encryptFile, fileName);
          $.ajax({
            type: 'POST',
            url: 'http://localhost:5000/api/upload',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success:function(result) {
              alert("成功加密上传文件");
            }
          })
        };
      });
      /*
      // 文件下载时进行解密
      $("#download").click(function(){
        console.log("开始下载文件")
        var down_url = $(this).attr('href');
        $.ajax({
          type: 'GET',
          url: 'http://localhost:5000' + down_url,
          success:function(result) {
            // 获得返回的文件
            console.log("GET请求成功返回");

            
          }
        })

      });*/
    </script>
</body>
</html>